NEXT_PUBLIC_APP_NAME=opps
NEXT_PUBLIC_APP_URL=http://localhost:4001
NEXT_PUBLIC_API_URL=http://localhost:4001/api
NEXT_PUBLIC_DEFAULT_CURRENCY=EGP
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_ENABLE_CUSTOMER_ACCOUNTS=true
NEXT_PUBLIC_ENABLE_COD=true
NEXT_PUBLIC_ENABLE_ONLINE_PAYMENT=false
NEXT_PUBLIC_ENABLE_WALLET_PAYMENT=false
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
